@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-main);
  // background: radial-gradient(circle, rgba(246,224,202,1) 24%, rgba(255,255,255,1) 100%);
  font-family: var(--text-font);
}

:root {
  --color-main: #F6E0CA;
  --color-secondary: #64A1B1;
  --color-title: #C77A4F;
  --color-details: #D8A477;
  --big-title-font: "Ultra";
  --title-font: "Aladin"
  --text-font: "Instrument Sans";
}
